body {
  margin: 0px;
  color: white;
}

.Header__header {
  display: flex;
  background-color: black;
  padding-top: 10px;
  justify-content: space-between;
  display: none;
}
.Header__header-1 {
  display: flex;
}

.Header__logo {
  font-size: 40px;
  margin: 0 10px 0 10px;
}
.Header__name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.Header__nevi-links {
  display: flex;
  align-items: center;
  padding-right: 30px;
  gap: 30px;
}
@media (max-width: 600px) {
  .Header__header {
    display: none;
  }
}
