.Explorepost {
  cursor: pointer;
  width: 14.5vw;
  margin-left: 0.92vw;
  margin-top: 0.92vw;
  height: 20.5vw;
  box-shadow: 2px 2px 5px #acacac;
  border-radius: 1vw;
  font-family: Helvetica Neue, Arial, sans-serif;
  transition: 100ms ease-in;
}
.Explorepost:hover {
  transform: scale(1.02);
}
.Explorepost-c1 {
  width: 14.5vw;
}
.Explorepost-c1 > img {
  width: 14.5vw;
  height: 16vw;
  border-radius: 1vw 1vw 0px 0px;
}
.Explorepost-c2 {
  margin: 0.5vw 0.7vw 0.5vw 0.7vw;
}
.Explorepost-c2-userinfo {
  margin-top: 0.22vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Explorepost-c2-profileimg > img {
  width: 2.8vw;
  border-radius: 50%;
  height: 2.8vw;
}
.Explorepost-c2-caption {
  font-size: 0.9vw;
  width: 13vw;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.Explorepost-c2-name {
  margin-top: 0.2vw;
  font-size: 0.9vw;
  opacity: 0.5;
}
.Explorepost-c2-username {
  font-size: 1vw;
  width: 8.5vw;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media (max-width: 1000px) {
  .Explorepost {
    width: 30vw;
    margin-left: 2.5vw;
    margin-top: 4vw;
    height: 47vw;
    box-shadow: 2px 2px 5px #acacac;
    border-radius: 2vw;
  }
  .Explorepost-c1 {
    width: 30vw;
  }
  .Explorepost-c1 > img {
    width: 29vw;
    height: 29vw;
    border-radius: 2vw 2vw 0px 0px;
  }
  .Explorepost-c2-profileimg > img {
    width: 7vw;
    border-radius: 50%;
  }
  .Explorepost-c2-caption {
    font-size: 2.5vw;
  }
  .Explorepost-c2-name {
    margin-top: 0.2vw;
    font-size: 2.5vw;
    opacity: 0.5;
  }
  .Explorepost-c2-username {
    font-size: 3vw;
  }
  .Explorepost-c2-userinfo {
    margin-top: 2vw;
  }
}
@media (max-width: 600px) {
  .Explorepost {
    height: 50vw;
  }
}
