.trending{
    cursor: pointer;
    width: 14.5vw;
    margin-left: 0.92vw;
    margin-top: 0.92vw;
    height: 20.5vw;
    box-shadow: 2px 2px 5px #acacac;
    border-radius: 1vw ;
    font-family: Helvetica Neue, Arial, sans-serif;
    transition: 100ms ease-in;
}
.trending:hover{
    transform: scale(1.02);
}
.trending-c1{
    width: 14.5vw;
}
.trending-c1>img{
    width: 14.5vw;
    height: 14.5vw;
    border-radius: 1vw 1vw 0px 0px;
}
.trending-c2{
  margin: 0.5vw 0.7vw 0.5vw 0.7vw ;
}
.trending-c2-userinfo{
    margin-top: 0.22vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.trending-c2-profileimg>img{
 width: 3vw;
 border-radius: 50%;
}
.trending-c2-caption{
    font-size:0.9vw;
    
}
.trending-c2-name{
    margin-top: 0.2vw;
    font-size: 0.9vw;
    opacity: 0.5;
}
.trending-c2-username{
    font-size: 1.1vw;
}
@media (max-width:1000px){
    .trending{
        width: 30vw;
        margin-left: 2.5vw;
        margin-top: 4vw;
        height: 47vw;
        box-shadow: 2px 2px 5px #acacac;
        border-radius: 2vw ;
    }
    .trending-c1{
        width: 30vw;
    }
    .trending-c1>img{
        width: 30vw;
        height: 30vw;
        border-radius: 2vw 2vw 0px 0px;
    }
    .trending-c2-profileimg>img{
        width: 7vw;
        border-radius: 50%;
       }
       .trending-c2-caption{
           font-size:2.5vw;
         
           
       }
       .trending-c2-name{
           margin-top: 0.2vw;
           font-size: 2.5vw;
           opacity: 0.5;
       }
       .trending-c2-username{
           font-size: 3vw;
       }
       .trending-c2-userinfo{
        margin-top: 2vw;
       
    }
    .trending-c2{
        padding: 0.2vw 1.2vw 0.5vw 1.2vw ;
      }
}
@media (max-width:600px){
    .trending{
       
        height: 50vw;
       
    }
}