/* body {
  overflow-y: scroll !important;
} */
.postclick-like-click {
  position: absolute;
  width: 356px;
  height: 271px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  background-color: aqua;
  z-index: 10000;
}
