body{
    margin: 0px;
}

.Upload  {
    /* position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); */
    cursor:pointer;
   border-radius: 50%;
   
   margin-top: 6.3vh;
   padding: 20px;
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.upload-img{
    display:flex;
    margin-left: 20vw;
     align-items: center;
    
}
.upload-img > img {
    object-fit: contain;
    max-width: 200px;
}
#input2{
    background: 0 0;
    border: 1px solid #dbdbdb;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    color: rgba(var(--i1d,38,38,38),1);
   width:70vw;
    font-size: 16px;
    height: 32px;
    padding: 0 10px;

       
}

#flex{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.Upload button{
    background-color: #484ca5;
    color:#fff;
    font-size: 20px;
    margin-left: 30vw;
} 

.upload-mb-main-container{
    width: 358px;
    height: auto;
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 40%;
    left: 45%;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}
.gallery-countainer{
    width: 50%;
    text-align: center;
    padding: 20px ;
    border-radius: 10px 0 0 10px;
    transition: 200ms ease-in;
}
.meme-countainer{
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    transition: 200ms ease-in;
}
.gallery-countainer:hover{
    background-color: #484ca5;
    color: #fff;

}

.meme-countainer:hover{
    background-color: #484ca5;
    color: #fff;
}
.gallery-countainer > h2{
    font-size: 1rem;
}
.gallery-countainer > .MuiSvgIcon-root{
    font-size: 3rem;
}
.meme-countainer > h2{
    font-size: 1rem;
}
.meme-countainer > .MuiSvgIcon-root{
    font-size: 3rem;
}
@media(max-width:1000px){
    .upload-mb-main-container{
        left: 40%;
    }
}

@media(max-width:600px){
    .upload-mb-main-container{
        left: 10%;
        width: 80vw;
    }
}
@media(max-width:600px){
    .upload-mb-main-container{
        left: 10%;
        /* width: 330px; */
    }
}
@media(max-width:400px){
    .upload-mb-main-container{
        left: 10%;
        /* width: 260px; */
    }
}