.Following{
    
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    
}
.Following > .follow{
     
     display:  flex ;
     justify-content: space-between;
     height: auto;
     align-items: center;
     box-shadow: 0.5px 1px 2px #acacac;
     border-radius: 10px;
     padding: 5px;
     margin: 10px;
     margin-bottom: 0px;
     width: 50%;
 
}


.Following-countainer{
    display: flex;
    align-items: center;
}
.follow > .Following-countainer > img {

    width: 5vw;
    height: 5vw;
    border-radius:  50%;
    margin-right: 10px;
    box-shadow: 2px 2px 5px #acacac;
    
}
.follow > .Following-countainer > .Following-countainer-1 > p {

   font-size: 1.3vw;
    margin-bottom: 0px;
}
.follow > .Following-countainer > .Following-countainer-1 > span {

   font-size: 1.05vw;
    margin-top: 0px;
    opacity: 60%;
}

.follow > .Following-button{

}

button{
    padding: 0.4vw 0.7vw;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 5px #acacac;
    margin-right: 10px;
    font-size: 1.1vw;
    border-radius: 5px;
}