body{
    margin: 0%;
}

.post{
    display: flex;
}
.img{
    width: 10vw;
    height: 20vh;
    margin-left: 0.5vw;
    box-shadow: 2px 2px 5px #acacac;
    margin-top: 5px;
    transition:100ms ease-in;
    /* border-radius: 7px; */
   
    filter: brightness(0.8);
}
.img:hover{
    transform: scale(1.05);
    cursor: pointer;
    filter: brightness(1);
}
@media (max-width: 600px){
    ::-webkit-scrollbar {
        display: none;
      }
    .Post{
        
        display: flex;
        width: 100vw;
    
    }
    .img{
        width: 31.5vw;
        margin-left: 1.5vw;
        height: 20vh;
       
        box-shadow: 2px 2px 5px #acacac;
        margin-top: 5px;
        transition:100ms ease-in;
    
    }
    .Post >img{
        
        
    }
}