*{
  color: black;
}
.Body_main{
    display: flex;
   
}
.bottombar{
  display: none;
}
/* .Body_main>  .MuiSvgIcon-root{
} */






@media (max-width:600px){
  
  .bottombar{
    display: block;
  }
  a>.MuiSvgIcon-root{
    font-size:6vw;
  }     
  .bottombar{
    z-index: 1000;
    border-radius: 15px;
   position: fixed;
   bottom: 1vw;
  margin:0px 1vw;
    padding: 3vw;
    display: block;
    
    width: 98vw;
   height: 15vw;
   text-align:center;
  
    background-color: #7D80C3;
    outline: none;
  }
  .bottombar-anim-c1{
    animation-name: anim1;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
    text-align: center;
  
    z-index: -1;
   bottom:6vw;
   left: 5.3vw;
   width: 14vw;
   position: absolute;
   height: 14vw;
   border-radius: 50%;
   background-color:#7D80C3 ;
  border:1.8vw solid #fff;
  }
  @keyframes anim1 {
    0%{
      bottom: 8vw;
      
    }
   
    50%{
      bottom: 2.5vw;
      left: 5.3vw;
    }
    100%{
      bottom: 6vw;
      left: 5.3vw;
    }
  }
  .bottombar-anim-c2{
    
    z-index: -1;
    left: 24.25vw;
    bottom: 6vw;
  animation-name: anim2;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
    width: 13vw;
    position: absolute;
    height: 13vw;
    border-radius: 50%;
    background-color:#7D80C3 ;
   border:1.8vw solid #fff;
  }
  @keyframes anim2 {
    0%{
      bottom: 8vw;
    
    }
    50%{
      bottom: 2.5vw;
      left: 24.25vw;
    }
   
    100%{
      bottom: 6vw;
      left: 24.25vw;
    }
  }
  .bottombar-anim-c3{
    animation-name: anim3;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
    z-index: -1;
    bottom:6vw;
    left: 42.5vw;
    width: 13vw;
    position: absolute;
    height: 13vw;
    border-radius: 50%;
    background-color:#7D80C3 ;
   border:1.8vw solid #fff;
  }
  @keyframes anim3 {
    0%{
      bottom: 8vw;
    
    }
   
    50%{
      bottom: 2.5vw;
      left: 42.5vw;
    }
    100%{
      bottom: 6vw;
      left: 42.5vw;
    }
  }
  .bottombar-anim-c4{
    animation-name: anim4;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    z-index: -1;
    bottom:6vw;
    left: 61vw;
    width: 13vw;
    position: absolute;
    height: 13vw;
    border-radius: 50%;
    background-color:#7D80C3 ;
   border:1.8vw solid #fff;
  }
  @keyframes anim4 {
    0%{
      bottom: 8vw;
    
    }
   
    50%{
      bottom: 2.5vw;
      left: 61vw;
    }
    100%{
      bottom: 6vw;
      left: 61vw;
    }
  }
  .bottombar-anim-c5{
    animation-name: anim5;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;

    z-index: -1;
    bottom:6vw;
    left: 79.5vw;
    width: 13vw;
    position: absolute;
    height: 13vw;
    border-radius: 50%;
    background-color:#7D80C3 ;
   border:1.8vw solid #fff;
   
   background-clip: padding-box;
  }
  @keyframes anim5 {
    0%{
      bottom: 8vw;
    
    }
   
    50%{
      bottom: 2.5vw;
      left:79.5vw;
    }
    100%{
      bottom: 6vw;
      left:79.5vw;
    }
  }
  .bottombar-icon{
    color: rgb(32, 22, 22);
    background-clip: content-box;
    /* cursor: pointer; */
    outline: none;
    border: none;
   position: relative;
   bottom: 3.5vw;
   
  }
  a{
    
    text-decoration: none;
    cursor: auto;
  }
  .bottombar-icons{
    color: rgb(255, 255, 255);
  outline: none;
  border: none;
   text-align:center;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
    #tapbar-mb{
        display: block;
    } 

    .Body{
        display: block;
    }
    * {
        padding: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
      }
      
      
      
      #background {
        background: transparent;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: calc(100% - 50px);
        filter: url("#goo");
        z-index: 1;
      }
      
      #round {
        height: 30px;
        width: 30px;
        left: calc(26.5%);
        border-radius: 100%;
        position: absolute;
        bottom: -30px;
        z-index: 2;
        transition: left .4s cubic-bezier(0, 0, 0, 1.04);
        
      }
      
      #round.sliding {
        animation: slide 0.35s cubic-bezier(0, 0, 0, 1.01);;
      }
      
      #tab-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10vh;
        padding-bottom: 7vh;
        background: #7D80C3;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      
      .icon {
        z-index: 2;
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: transform .25s ease-in-out;
        user-select: none;
      }
      
      .icon-picture {
        opacity: .5;
        width: 5vw;
        height: 5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .icon.selected {
        box-sizing: initial;
        transform: translateY(-7px) scale(1.2);
        background: #fff;
        border-radius: 100%;
        box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.38);
      }
      
      .selected .icon-picture {
        opacity: 1 !important;
      }
      
      @keyframes slide {
        0% {
          bottom: -30px;
        }
        50% {
          bottom: -9px;
        }
        100% {
          bottom: -30px;
        }
      }
      
    }